.right_notesBox{
    width: 100%;
}
.right_notesBox .today_upcoming_options{
  display: flex;
  justify-content: center;
  padding: 1rem;
  border-bottom: 2px solid whitesmoke;
}
.right_notesBox .today_upcoming_options .today_upcoming_radio_buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.right_notesBox .today_upcoming_options .today_upcoming_radio_buttons label{ 
  margin-left: 0;
}
.shows_todo {
    padding: 0 3rem;
    margin-top: 1rem;
    
}
.shows_todo .todo_main_header{
    display: flex;
    padding: 0 1rem;
    border-bottom: 2px solid whitesmoke;
}
.shows_todo .todo_main_header .left_header{
    display: flex;
    flex: 0.8;
    align-items: center;
}
.shows_todo .todo_main_header .left_header p{
   margin-left: 10px;
}
.shows_todo .todo_main_header .right_header{
    display: flex;
    flex: 0.2;
    align-items: center;
    justify-content: flex-end;
}
.add_task{
    padding: 0 3.5rem;
    margin-top: 0.5rem;
    cursor: pointer;
}
.add_task:hover{
    padding: 0 3.5rem;
    color: tomato;
}
.add_task:hover .MuiSvgIcon-root{
    background-color: tomato;
    color: white;
    border-radius: 50%;
    cursor: pointer;
}
.add_task .MuiSvgIcon-root{
    margin-right: 5px;
}